// ----------------------------------------------------------------
// Screen Widths
// ----------------------------------------------------------------

$w-xsmall: 320px;
$w-small: 480px;
$w-medium: 760px;
$w-large: 960px;
$w-xlarge: 1200px;
$w-xxlarge: 1600px;