// ----------------------------------------------------------------
// Colors
// ----------------------------------------------------------------

$primary-color: #ff4400;        // rgb(255, 69, 0) | hsl(16, 100%, 50%)
$primary-color1: #f8961e;       //orange | rgb(248, 150, 30) | hsl(33, 94%, 55%)
$primary-color2: #f1a937;       // rgb(241, 169, 55) | hsl(37, 87%, 58%)


$secondary-color: #F1EAB9;      //light beige | rgb(241,234,185)  | hsl(52,67,84)

$tertiary-color: #333333;       //table/dark grey | rgb(51,51,51) | hsl(0,0,20)

$accent-color: #56CCF2;         //sky blue | rgb(86,204,242) | hsl(195,86,64)
$accent-color2: #316d69;        //hsl(176, 38%, 31%) | rgb(49, 109, 105)

$darker-blue: #07485B;          // rgb(7,72,91)  hsl(194,86,19)
$subheader-color: #f27c56;      // rgb(242,124,86) hsl(15,86,64)
$subheader-color1: #f2567e;     // rgb(242,86,126) hsl(345,86,64)
$red: #b0454c;                  // rgb(176, 69, 76) | hsl(356, 44%, 48%)