.navbar {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $secondary-color;

    img {
        height: 4rem;
    }

    nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;

            li {
                margin-left: 2rem;

                a {
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}